html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #500000d8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem; /* space between items if they shrink */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenki-img {
  height: 35px;
  width: 35px;
  padding: 0px;
}

#navbar-search {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
}

#navbar-search input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
}

#navbar-search button {
  padding: 0.5rem 1rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#navbar-toggles {
  display: flex;
  gap: 1rem;
}

#home-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #a39d9dd2;
  gap: 1rem;
}

/* Toggle Switch Base */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked styles */
input:checked + .slider {
  background-color: #0077ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

body.dark-mode {
  background-color: #1f1f1f;
  color: #f1f1f1;
}

body.dark-mode .navbar {
  background-color: #1a1a1add;
}

body.dark-mode #home-view {
  background-color: #333;
}

body.dark-mode footer {
  background-color: #000;
}

body.dark-mode input,
body.dark-mode button {
  background-color: #444;
  color: white;
  border-color: #666;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 25px;
  color: #707070;
}
